body {
    background-color:#62E1DA;
}
#welcome {
    display: inline-block;
    padding-top: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size:10px;
    margin-bottom: 100px;
}

.logo {
    position: absolute;
    width: 280px;
    height: 220px;
    left: 609px;
    top: 250px;
    
}
.name {
    position: absolute;
    width: 227px;
    height: 37px;
    left: 624px;
    top: 460px;
}
#btn1{
    position: absolute;
    width: 130px;
    height: 40px;
    left: 679px;
    top: 585px;
}
#loging {
    display: none;
    text-align: center;
    padding-top: 50px;  
}
#btn2{
    position: absolute;
    width: 122px;
    height: 36px;
    left: 690px;
    top: 540px;
}

.text{
    position: absolute;
    width: 364px;
    height: 50px;
    left: 573px;
    top: 240px;
    font-family: 'Segoe Print';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color:white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#cipher {
    position: absolute;
    display: none;
    padding: 0px;
    font-family: Arial;
    width: 20%;
}
.num{
    position: absolute;
    width: 243px;
    height: 35px;
    left: 621px;
    top: 315px;
}
.string{
    position: absolute;
    width: 243px;
    height: 35px;
    left: 621px;
    top: 407px;
}
#password{
    position: absolute;
    width: 373px;
    height: 55px;
    left: 556px;
    top: 351px;
}
#resultado{
    position: absolute;
    width: 373px;
    height: 55px;
    left: 556px;
    top: 471px;
    border-radius:10px;
    text-align: center;
    box-sizing: center;
    border: 2px solid #ccc;
    font-size: 14px;
    background-color: white;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;

}
#codificar{
    position: absolute;
    width: 118px;
    height: 31px;
    left: 570px;
    top: 590px;
    
}
#decodificar{
    position: absolute;
    width: 125px;
    height: 31px;
    left: 709px;
    top: 590px;
}
.copy{
    position: absolute;
    padding: 0.6px;
    left: 296%;
    margin-top: 164%;
    background: white;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-family: Arial;

}
.copy:active {
    position:relative;
    font-size:small;
    top:1px;
}
#btn3{
    position: absolute;
    width: 87px;
    height: 31px;
    left: 854px;
    top: 590px;
}
input[type=text]{
    border-radius:10px;
    text-align: center;
    box-sizing: center;
    border: 2px solid #ccc;
    font-size: 14px;
    background-color: white;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.text2 {
    position: absolute;
    width: 386px;
    height: 79px;
    left: 561px;
    top: 120px;
    color: #FFF7F7;  
    font-family: 'Shadows Into Light Two', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
    align-items: center;
    text-align: center;
    text-transform: capitalize; 
}
.text1 {
    color: white;
    font-family:'Shadows Into Light Two', cursive;
    font-size:30px;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 93px;
    text-align: center;
    letter-spacing: -0.1em;
    text-transform: capitalize;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 265px;
    height: 74px;
    left: 600px;
    top: 110px;
    mix-blend-mode: normal;   
}
.buttons {
	background-color:rgb(78, 150, 218);
    border-radius:9px;
    width: 150px;
    height: 30px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
    font-size:17px;
    margin-bottom: 30px; 
}
.buttons:hover {
	background-color:#774cc6;
}
.buttons:active {
	position:relative;
	top:1px;
}
